{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if request.user.is_authenticated %}
        <div id="post-form-div">
            <form id="post-form">
                {% csrf_token %}
                <textarea id="post-form-msg" class="form-control m-1"></textarea>
                <button class="btn btn-primary">Post</button>
            </form>
        </div>
    {% endif %}

    <div id="post-display-div">
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}
